:root {
	--lime-light: #9cccc0;
	--lime-dark: #5e9185;
	--white: white;
	/* --text-color: #72948c; */
	--header-height: 100px;
	--padding-section: 100px;
	--dark-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.34);
}
@font-face {
	font-family: "Monteserrat";
	src: url(./Media/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
	font-family: "Monteserrat light";
	src: url(./Media/fonts/Montserrat/Montserrat-Light.ttf);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

input {
	outline: none;
}

a {
	font-family: "Monteserrat";
	text-decoration: none;
}
body {
	min-height: 100vh;
	width: 100%;
	font-family: "Monteserrat";
}
header {
	height: var(--header-height);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	background: var(--white);
}
footer {
	background: var(--lime-light);
	width: 100%;
	/* border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin-top: -40px; */
	padding: 70px 40px;
	color: var(--white);
}
footer h2 {
	margin-bottom: 20px;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* max-width: 1600px; */
	margin: 0 auto;
}
.footer__data-comp {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer__navigation {
	display: flex;
	gap: 20px;
}
.footer__navigation p {
	transition: 0.5s;
	border-bottom: 2px solid transparent;
	height: fit-content;
}

.footer__navigation p:hover {
	border-bottom: 2px solid var(--white);
}
.footer__navigation a {
	font-weight: 600;
	letter-spacing: 2px;
	color: var(--white);
}
.header__logo {
}
.nav__list {
	display: flex;
	list-style-type: none;
	gap: 30px;
	align-items: center;
	height: 100%;
}
.nav-list__item {
	transition: 0.5s;
	border-bottom: 2px solid transparent;
}
.nav-list__item:hover {
	border-bottom: 2px solid var(--lime-light);
}
.nav-list__item a {
	font-size: 22px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--lime-light);
}
.container {
	padding: 0px 100px;
	max-width: 1600px;
	margin: 0 auto;
}
.slider-wrapper {
	display: flex;
	flex-direction: column;
	gap: 100px;
	padding: var(--padding-section) 0px;
}
.slider {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}
.slide.active {
	aspect-ratio: 1/1;
	flex: 0 1 70%;
	display: flex;
	background: var(--lime-light);
	border-radius: 20px;
	padding: 20px;
	height: 600px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.362);
}
.slide.not-active {
	/* position: absolute; */
	display: flex;
	flex: 0 1 15%;
	height: 600px;
	transform: scale(0.5);
}
.slide.not-active .slide-img {
	width: 100%;
}

.slide-img {
	width: 60%;
	object-fit: cover;
	border-radius: 20px;
}
.slide-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	padding: 30px 30px 0px 30px;
}
.slide-content__text {
	color: var(--white);
}
.slide-content__text h2 {
	font-size: 40px;
	margin-bottom: 50px;
}
.slide-content__text p {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 400;
	font-family: "Monteserrat light";
}
.slide-content .button {
	width: 100%;
	padding: 30px;
}
.button {
	width: fit-content;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	transition: 0.5s;
	padding: 10px;
	font-weight: 600;
}
.bt-normal {
	background: var(--lime-light);
	color: var(--white);
}
.bt-normal:hover {
	background: var(--lime-dark);
}
.bt-light {
	color: var(--lime-light);
	background: var(--white);
}
.bt-light a {
	color: var(--lime-light);
}
.bt-light:hover a {
	color: var(--white);
}
.bt-light:hover {
	background: var(--lime-dark);
}
.bt-dark {
	color: white;
	background: var(--lime-dark);
}
.bt-dark:hover {
	transform: translate(-3px, -3px);
	/* border-radius: 10px; */
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}
.bt-delete {
	background: rgb(255, 102, 102);
	color: var(--white);
}
.bt-delete:hover {
	background: rgb(255, 59, 59);
}
.button a {
	cursor: pointer;
	font-size: 25px;
}
.slider-nav {
	display: flex;
	width: 30%;
	margin: 0 auto;
	justify-content: space-between;
}
.slider-nav__row {
	color: var(--white);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--lime-light);
	font-size: 20px;
	cursor: pointer;
	font-weight: 600;
	transition: 0.5s;
}
.slider-nav__row:hover {
	background: var(--lime-dark);
}
.slider-nav__bar {
	width: 70%;
	background: var(--lime-light);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	gap: 40px;
	align-items: center;
}
.slider-nav__bar-dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: var(--white);
}
.slider-nav__bar-dot.active {
	width: 20px;
	height: 20px;
}
.search-section {
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background: var(--lime-light);
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	position: relative;
	z-index: 0;
}
.search-section h2 {
	text-align: center;
	color: var(--white);
	font-size: 40px;
	letter-spacing: 3px;
}
.search-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.search__input-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 70%;
}
.search__input-icon {
	height: 40px;
}
.search__input {
	box-shadow: 0px 0px 10px -2px var(--lime-dark);
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	font-size: 25px;
	color: var(--lime-dark);
	border: none;
}
/* .search__input:focus {
	border: 2px solid var(--lime-dark);
} */
.search-wrapper .bt-search {
	padding: 20px;
	width: 40%;
	font-size: 30px;
	margin-top: 30px;
}
.search__prompts {
	display: flex;
	justify-content: space-between;
	width: 30%;
	flex-wrap: wrap;
	gap: 10px;
}
.search__prompts .button {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 3px;
}
.about-section {
	position: relative;
	z-index: 1;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin-top: -40px;
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	width: 100%;
	background: var(--white);
}
.about-section h2 {
	margin-bottom: 100px;
	font-size: 40px;
	color: var(--lime-light);
}
.about__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}
.about__wrapper-row1 {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
.about__item {
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	aspect-ratio: 1/1;
	max-height: 500px;
	flex: 1 1 30%;
	display: flex;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.34);
}
.about__item:hover .about__text {
	min-height: 100%;
	background: var(--lime-light);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.about__item.one {
	background-image: url(./Media/images/jpg\ -\ png/guinea_pig.jpeg);
}
.about__item.two {
	background-image: url(./Media/images/jpg\ -\ png/puppy.jpg);
}
.about__item.three {
	width: 100%;
	aspect-ratio: 12/3;
	background-image: url(./Media/images/jpg\ -\ png/We_find_the_puppy.jpg);
}
.about__text {
	transition: 0.5s;
	min-height: 100px;
	color: var(--white);
	text-align: center;
	font-size: 25px;
	padding: 20px;
	width: 100%;
	border-radius: 20px;
	align-self: flex-end;
	background: #9cccc07d;
}
.find-animals {
	padding: 40px 0px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: #9cccc050;
}
.find-animals h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 120px;
	color: var(--lime-dark);
}
.find-animals__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 80px;
}
.animals__card {
	box-shadow: 0px 0px 10px 10px #9cccc069;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	flex: 0 1 400px;
	display: flex;
	flex-direction: column;
	background: var(--white);
	transition: 0.5s;
	cursor: pointer;
}
.animals__card:hover {
	box-shadow: 0px 0px 20px 20px #9cccc048;
	transform: scale(1.05);
}
.animals__card-img {
	position: relative;
	z-index: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 180px;
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.animals-card__content {
	position: relative;
	z-index: 10;
	margin-top: -40px;
	padding: 20px;
	display: flex;
	background: var(--white);
	gap: 10px;
	flex-direction: column;
	color: var(--lime-light);
	border-top-left-radius: 40px;
}
.animals-card__content p span {
	font-size: 20px;
	margin-right: 10px;
	color: #5e9185;
}
.search-form-section {
	display: flex;
	justify-content: center;
	padding: var(--padding-section) 0px;
}
.form-wrapper {
	width: 70%;
	display: flex;
	height: 450px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.search-form__form {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 55%;
	background: var(--lime-light);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.search-form__inputs-wrapp {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.search-form__form h2 {
	text-align: center;
	color: var(--white);
	margin-bottom: 40px;
	font-size: 30px;
}
.search-form__img {
	width: 45%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.input-wrapper input {
	width: 100%;
	border: none;
	font-size: 20px;
	color: var(--lime-light);
	padding: 15px;
	border-radius: 10px;
}
.input-wrapper input::placeholder {
	color: var(--lime-light);
	text-transform: uppercase;
}
.search-form__bt {
	width: 100%;
	margin-top: auto;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.reviews-section {
	background: var(--lime-light);
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	padding: var(--padding-section) 0;
}

.reviews__wrapper {
	width: 100%;
}
.reviews__wrapper h2 {
	text-align: center;
	color: var(--white);
	font-size: 40px;
	margin-bottom: 40px;
}
.reviews__list {
	width: 100%;
	display: flex;
	gap: 50px;
	justify-content: center;
}
.reviews__item {
	transition: 0.5s;
	width: 500px;
	/* height: fit-content; */

	background: var(--white);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
}
.reviews__item.not-active {
	opacity: 0.5;
	transform: scale(0.8);
	filter: blur(3px);
}
/* .reviews__item:hover {
	transform: scale(1.05);
} */
.review__img {
	aspect-ratio: 2/1.5;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}
.review__content {
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
	gap: 20px;
}
.review__author {
	display: flex;
	align-items: center;
	gap: 20px;
}
.review__author-foto {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.review__author-name {
	color: var(--lime-dark);
	font-size: 25px;
}
.review__review {
	color: var(--lime-light);
	font-size: 20px;
}
.review__date {
	margin-top: 30px;
	color: var(--lime-dark);
}
.reviews__dots {
	margin-top: 70px;
	display: flex;
	gap: 20px;
	justify-content: center;
}
.reviews__dot {
	width: 30px;
	height: 30px;
	opacity: 0.5;
	background: var(--lime-dark);
	border-radius: 100%;
}
.reviews__dot.active {
	opacity: 1;
}
.subscribe-section {
	margin-top: -40px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	padding: var(--padding-section) 0px;
	display: flex;
	gap: 200px;
	justify-content: center;
	width: 100%;
	background: white;
	/* max-width: 1500px; */
}
.sub__img-wrapper {
	width: 40%;
}
.sub__img {
	box-shadow: var(--dark-shadow);
	object-fit: cover;
	width: 100%;
	border-radius: 20px;
	aspect-ratio: 1/1;
}
.form__wrapper {
}
.sub__form {
	box-shadow: var(--dark-shadow);
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 100%;
	background: var(--lime-light);
	border-radius: 20px;
}
.sub__form h2 {
	font-size: 32px;
	color: var(--white);
	margin-bottom: 50px;
}

.sub__input::placeholder {
	color: var(--lime-light);
}
.sub__input {
	width: 100%;
	border: none;
	font-size: 20px;
	color: var(--lime-light);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.sub__assent-wrapp {
	color: var(--white);
}
.sub__assent-wrapp label {
	margin-left: 10px;
	font-size: 22px;
}
.sub__button {
	width: 100%;
	padding: 20px;
	font-size: 32px;
	margin-top: auto;
}
.login-page {
	width: 100vw;
	height: 100vh;
	/* background-repeat: no-repeat;
	background-position: left;
	background-size: 50vw;
	background-image: url("./Media/images/jpg\ -\ png/Dog n Cat.jpg"); */
}
.login-page .container {
	/* position: relative; */
	height: 100vh;
	/* width: calc(100vw - 200px); */
	display: flex;
	gap: 70px;
	align-items: center;
}
.login-page .container img {
	width: 50%;
	object-fit: contain;
}
.form-login {
	/* position: absolute; */
	/* right: 0%; */
	/* top: 50%; */
	padding: 30px;
	width: fit-content;
	border-radius: 20px;
	/* transform: translateY(-100%); */
	box-shadow: var(--dark-shadow);
	background: var(--white);
}
.form-login h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 2px;
	color: var(--lime-light);
	margin-bottom: 40px;
}
.form-login__email {
	width: 100%;
	font-size: 20px;
	color: var(--lime-dark);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;
	border: 2px solid var(--lime-light);
}
.form-login__email::placeholder,
.form-login__password::placeholder {
	color: var(--lime-light);
}
.form-login__password {
	width: 100%;
	border: 2px solid var(--lime-light);
	font-size: 20px;
	color: var(--lime-light);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.form-login__bt {
	display: block;
	margin-top: 40px;
	padding: 10px 20px;
	font-size: 25px;
}
.register-page {
	width: 100vw;
	height: 100vh;
	/* background-repeat: no-repeat;
	background-position: left;
	background-size: 50vw;
	background-image: url("./Media/images/jpg\ -\ png/Dog n Cat.jpg"); */
}
.register-page .container {
	/* position: relative; */
	height: 100vh;
	/* width: calc(100vw - 200px); */
	display: flex;
	gap: 70px;
	align-items: center;
}
.register-page .container img {
	width: 50%;
	object-fit: contain;
}
.form-register {
	/* position: absolute; */
	/* right: 0%; */
	/* top: 50%; */
	padding: 30px;
	width: fit-content;
	border-radius: 20px;
	/* transform: translateY(-100%); */
	box-shadow: var(--dark-shadow);
	background: var(--white);
}
.form-register h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 2px;
	color: var(--lime-light);
	margin-bottom: 40px;
}
.form-register__input {
	width: 100%;
	font-size: 20px;
	color: var(--lime-dark);
	padding: 15px;
	border-radius: 10px;
	border: 2px solid var(--lime-light);
}
.form-register__input-wrapp {
	margin-bottom: 20px;
}
.form-register__email::placeholder,
.form-register__input::placeholder {
	color: var(--lime-light);
}
.form-register__password {
	width: 100%;
	border: 2px solid var(--lime-light);
	font-size: 20px;
	color: var(--lime-light);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.form-register__bt {
	display: block;
	margin-top: 40px;
	padding: 10px 20px;
	font-size: 25px;
	width: 100%;
}
.form__error {
	color: red;
}

/* profile /////////////////////////////////////////////////////////////// */

.info__user-section {
	padding: var(--padding-section) 0px;
}
.info__user-wrapp {
	width: 100%;
	display: flex;
	gap: 10%;
	/* justify-content: space-between; */
}
.info__avatar {
	background: var(--lime-light);
	box-shadow: var(--dark-shadow);
	border-radius: 20px;
	object-fit: cover;
	width: 20%;
	padding: 40px;
	min-width: 272px;
}
.info__info-changed {
	color: var(--white);
	padding: 20px;
	background: var(--lime-light);
	box-shadow: var(--dark-shadow);
	width: 70%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.info__info-wrapp {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.info__user {
	font-size: 28px;
	font-weight: 400;
}
.info__user span {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 30px;
	margin-right: 10px;
}
.info__user span::after {
	content: ":";
}

.info__bt {
	font-size: 26px;
}

.info__other-info-wrapp {
	display: flex;
	justify-content: space-between;
	color: var(--white);
	padding: 50px;
	background: var(--lime-light);
	box-shadow: var(--dark-shadow);
	width: 100%;
	border-radius: 20px;
}

.info__other-info {
	font-size: 28px;
	font-weight: 400;
}
.info__other-info span {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 30px;
	margin-right: 10px;
}
.info__other-info span::after {
	content: ":";
}

.user__ads-section {
	margin: var(--padding-section) 0px;
	box-shadow: var(--dark-shadow);
	border-radius: 20px;
	background: var(--lime-dark);
}
.ads__header {
	display: flex;
	justify-content: space-between;
	color: var(--white);
	padding: 20px 20px 40px 20px;
}

.ads__main {
	border-radius: 20px;
	margin-top: -20px;
	background: var(--lime-light);
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.ads__part {
	border-radius: 20px;
	color: var(--white);
}
.ads__active {
	background: rgba(0, 128, 0, 0.439);
}
.ads__part-header {
	font-size: 23px;
	background: rgba(0, 128, 0, 0.767);
	padding: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.ads__part-main {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.ads__part-item {
	font-size: 18px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ads__part-item-info {
	height: 60px;
	padding: 10px 40px 10px 10px;
	border-right: 2px solid var(--white);
	display: flex;
	align-items: center;
	gap: 10px;
}
.ads__part-item-foto {
	height: 60px;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.ads__part-item-btns {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.ads__part-item-btns button {
	font-size: 18px;
}

.ads__moderate {
	background: rgb(169, 169, 2);
}
.ads__part-header-moderate {
	background: rgb(147, 147, 0);
}
.ads__archive {
	background: burlywood;
}
.ads__part-header-archive {
	background: rgb(168, 140, 101);
}
.ads__find {
	background: blueviolet;
}
.ads__part-header-find {
	background: rgb(94, 29, 156);
}

/* ...............add //////////////////////////////////////////// */
.add-form {
	box-shadow: var(--dark-shadow);
	padding: 20px;
	border-radius: 20px;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(50%, -50%);
}
.add-form label,
.add-form h2 {
	color: var(--lime-dark);
}
.add-form h2 {
	margin-bottom: 40px;
}
.form-add__with-lab {
	/* display: flex; */
	justify-content: start;
}
.form-add__check {
	margin-right: 10px;
}
.form-add__check-reg:checked ~ .form-add__input[type="password"] {
	display: block;
}

.add-form__row {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.form-add__input[type="password"] {
	display: none;
}
.form-add__input {
	width: 100%;
	font-size: 16px;
	color: var(--lime-dark);
	padding: 15px;
	border-radius: 10px;
	border: 2px solid var(--lime-light);
}
.form-add__input::placeholder {
	color: var(--lime-light);
}
.form-add__input-wrapp {
	margin-bottom: 20px;
}
/* search/////////////////////////////////////////////////////////// */
.search-sec {
	padding: var(--padding-section) 0;
}
.search__input {
	box-shadow: var(--dark-shadow);
}
.search__inputs-wrapp {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.search__bt {
	margin-top: 40px;
	font-size: 28px;
	padding: 20px;
}
.search__ads {
	background: #9cccc050;
	padding: var(--padding-section) 0px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin-top: -40px;
}
.search__ads-wrapp {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
}
.search__pagination {
	color: var(--lime-light);
	margin-top: 100px;
	font-size: 26px;
	display: flex;
	gap: 10px;
	justify-content: center;
}
.search__pagination-num.active {
	color: var(--lime-dark);
	border-bottom: 2px solid var(--lime-dark);
}
.search__pagination-num {
	cursor: pointer;
}
/* pet //////////////////////////////////////// */
.pet__foto-sec {
	display: flex;
	gap: 40px;
	padding: var(--padding-section) 0px;
}
.pet__foto-main {
	border-radius: 20px;
	width: 60%;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.pet__foto-dop-wrapp {
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 40px;
}
.pet__foto-dop {
	border-radius: 20px;
	height: 50%;
	object-fit: cover;
}
.pet__desc-sec {
	padding: 20px;
	margin-bottom: var(--padding-section);
	display: flex;
	flex-direction: column;
	gap: 40px;
	box-shadow: var(--dark-shadow);
	border-radius: 20px;
}
.pet__desc-sec p {
	font-size: 30px;
	color: var(--lime-light);
	border-bottom: 2px solid var(--lime-light);
	padding-bottom: 10px;
}
.pet__desc-sec span {
	font-weight: 600;
	color: var(--lime-dark);
	margin-right: 10px;
}
.pet__desc-sec h4 {
	color: var(--lime-dark);
	font-size: 34px;
	margin-bottom: 20px;
}
